<script type="text/javascript" src="../../js/materialize.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('.button-collapse').sideNav();
		$('.collapsible').collapsible();
	});
</script>

<nav ng-controller="loginCtrl">
	<div class="nav-wrapper grey darken-4">
		
		<a href="#" class="brand-logo"><img src="../../style/img/forcode.png" width="190px"></a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		
		<ul id="navbar" class="right hide-on-med-and-down">
			<li>
				<a class="tooltipped" data-position="bottom" data-delay="70" data-tooltip="Perfil" href="#/profile">
					<i class="material-icons">person_pin</i>
				</a>
			</li>			
			<li>
				<a class="tooltipped" data-position="bottom" data-delay="70" data-tooltip="Configurações" href="#/config">
					<i class="material-icons">settings</i>
				</a>
			</li>
			<li>
				<a class="tooltipped" data-position="bottom" data-delay="70" data-tooltip="Sair" ng-click="doLogout()">
					<i class="material-icons">power_settings_new</i>
				</a>
			</li>
		</ul>

		<ul class="side-nav" id="mobile-demo">
			<li class="no-padding">
		<ul class="collapsible collapsible-accordion">
			<li><a class="collapsible-header no-active" href="#/home">
					<strong>Inicio</strong>
					<i class="mdi-action-home"></i>
			</a></li>
		</ul>
	</li>
	
	<li class="no-padding">
		<ul class="collapsible collapsible-accordion">
			<li>
				<a class="collapsible-header"><strong>Competições</strong><i class="material-icons">web</i></a>
				<div class="collapsible-body grey lighten-3">
					<ul>
						<li><a href="#!">Competições futuras</a></li>
					    <li><a href="#!">Minhas competições</a></li>
					    <li><a href="#!">Competições passadas</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
	
	<li class="no-padding">
		<ul class="collapsible collapsible-accordion">
			<li><a class="collapsible-header no-active" href="#/contact">
				<strong>Contato</strong>
				<i class="material-icons">email</i>
			</a></li>
		</ul>
	</li>
	
	<li class="no-padding">
		<ul class="collapsible collapsible-accordion">
			<li><a class="collapsible-header no-active" href="#/help">
				<strong>Ajuda</strong>
				<i class="material-icons">info</i>
			</a></li>
		</ul>
	</li>

			<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li><a class="collapsible-header no-active" href="#/profile">
						<strong>Perfil</strong>
						<i class="material-icons">person_pin</i>
					</a></li>
				</ul>
			</li>

			<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li><a class="collapsible-header no-active" href="#/config">
						<strong>Configurações</strong>
						<i class="material-icons">settings</i>
					</a></li>
				</ul>
			</li>

			<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li><a class="collapsible-header" ng-click="doLogout()">
						<strong>Sair</strong>
						<i class="material-icons">power_settings_new</i>
					</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>