<script type="text/javascript">
	$(document).ready(function() {
		$('.collapsible').collapsible();
	});
</script>

<ul id="sidenav" class="side-nav fixed grey lighten-3">
	
	<div class="center-align">
		<img src="../style/img/forcode-black.png" width="82%">
		<div class="divider"></div>
	</div>
	
	<li class="no-padding">
		<ul class="collapsible collapsible-accordion">
			<li><a class="collapsible-header" href="#!">
					<strong>Inicio</strong>
					<i class="mdi-action-home"></i>
			</a></li>
		</ul>
	</li>
	
	<li class="no-padding">
		<ul class="collapsible collapsible-accordion">
			<li>
				<a class="collapsible-header"><strong>Competições</strong><i class="material-icons">web</i></a>
				<div class="collapsible-body grey lighten-3">
					<ul>
						<li><a href="#!">Competições futuras</a></li>
					    <li><a href="#!">Minhas competições</a></li>
					    <li><a href="#!">Competições passadas</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
	
	<li class="no-padding">
		<ul class="collapsible collapsible-accordion">
			<li><a class="collapsible-header" href="#!">
				<strong>Contato</strong>
				<i class="material-icons">email</i>
			</a></li>
		</ul>
	</li>
	
	<li class="no-padding">
		<ul class="collapsible collapsible-accordion">
			<li><a class="collapsible-header" href="#!">
				<strong>Ajuda</strong>
				<i class="material-icons">info</i>
			</a></li>
		</ul>
	</li>
		
	
</ul>