<link type="text/css" rel="stylesheet" href="style/register.css"  media="screen,projection"/>

<div class="container">
	<div class="section row">
		<div class="col s10 offset-s1 m8 offset-m2">
			<div class="card-panel white form-padding">
				<span class="black-text">
					
					<div class="center-align">
						<h3 class="condensed light">Cadastro</h3>
					</div>

					<form name="formRegister" ng-submit="doRegister(user)" class="section">

						<div class="row">
							<div class="input-field col s12 m6">
								<input id="first_name" type="text" name="firstname" ng-model="user.firstName"
								 ng-required="true" ng-maxlenght="255" 
								 ng-class="{'invalid': formRegister.firstname.$invalid && formRegister.firstname.$dirty}"/>
								<label for="first_name" data-error="{{errorMessage(formRegister.firstname, '2-255 caracteres')}}">Nome</label>
							</div>
							<div class="input-field col s12 m6">
								<input id="last_name" type="text" name="lastname" ng-model="user.lastName"
								 ng-required="true" ng-maxlenght="255"
								 ng-class="{'invalid': formRegister.lastname.$invalid && formRegister.lastname.$dirty}"/>
								<label for="last_name" data-error="{{errorMessage(formRegister.lastname, '2-255 caracteres')}}">Sobrenome</label>
							</div>
						</div>
						
						<div class="row">
							<div class="input-field col s12 m6">
								<input id="username" type="text" name="username" ng-model="user.username"
								 ng-required="true" ng-minlength="6" ng-maxlength="16"
								 ng-class="{'invalid': formRegister.username.$invalid && formRegister.username.$dirty}"/>
								
								<label for="username" data-error="{{errorMessage(formRegister.username, '6-16 caracteres')}}">
									Nome de usuário
								</label>
							</div>

							<div class="input-field col s12 m6">
								<input id="email" type="email" name="email" ng-model="user.email"
								 ng-required="true" ng-class="{'invalid': formRegister.email.$invalid && formRegister.email.$dirty}"/>
								<label for="email" data-error="{{errorMessage(formRegister.email)}}">Email</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12 m6">
								<input id="password" type="password" name="password" ng-model="user.password"
								 ng-required="true" ng-minlength="4" ng-maxlength="10"
							     ng-class="{'invalid': formRegister.password.$invalid && formRegister.password.$dirty}"/>
								<label for="password" data-error="{{errorMessage(formRegister.password, '4-10 caracteres')}}">Insira uma senha</label>
							</div>

							<div class="input-field col s12 m6">
								<input id="repeat-password" type="password" name="repeatpassword" ng-model="repeat_password"
								 ng-required="true"
								 ng-class="{'invalid': !passwordVerify() && formRegister.repeatpassword.$dirty}"/>
								<label for="repeat-password" data-error="{{errorMessage(formRegister.repeatpassword, 'Incorreto')}}">
									Repita a senha
								</label>
							</div>
						</div>
						
						<label>Selecione sua instituição</label>
						<select class="browser-default" ng-model="user.institution" ng-options="institution.name for institution in institutions">
							<option value="" >Não possuo instituição ou a mesma não está na lista</option>
						</select>

						<div class="section top-margin">
							
							<button class="btn waves-effect waves-light indigo darken-3 col s12 m4 offset-m4" type="submit" 
							        ng-disabled="formRegister.$invalid || !passwordVerify()">
								Cadastrar
								<i class="material-icons right">send</i>
							</button>

						</div>
					</form>
				</span>
			</div>
		</div>
	</div>
</div>